.pdb-20 {
  padding-bottom: 20px;
}
.mgb-20 {
  margin-bottom: 20px;
}
.mgr-20 {
  margin-right: 20px;
}
.mgt-20 {
  margin-top: 20px;
}
.mgr-10 {
  margin-right: 10px;
}
.mgl-10 {
  margin-left: 10px;
}
.font-size-12 {
  font-size: 0.75rem;
}
.font-size-16 {
  font-size: 1rem;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}